@(formCadastroDesaparecidos: Form[Desaparecidos])

@import helper._
@import helper.twitterBootstrap._

@main("Teste"){
       
        <div class="container">
            <div class="header">
                <ul>
                    <li class="active"><a href="/">HOME</a></li>
                </ul>
            </div>
                      
            @helper.form(action = routes.Application.novaPessoaDesaparecida) {

		        <fieldset>
		            <legend>Cadastro</legend>
				
				@input(formCadastroDesaparecidos("nome"), '_label -> "Nome") { (id, name, value, args) =>
				   <div class="form-group">
				      <input type="text" class="form-control" id="@id" 
				         placeholder="@value">
				   </div>
				}
				
				@input(formCadastroDesaparecidos("sexo"), '_label -> "sexo") { (id, name, value, args) =>
				   <div class="form-group">
				      <input type="text" class="form-control" id="@id" 
				         placeholder="@value">
				   </div>
				}
				
				@input(formCadastroDesaparecidos("idadeQuandoDesapareceu"), '_label -> "Idade quando desapareceu") { (id, name, value, args) =>
				   <div class="form-group">
				      <input type="text" class="form-control" id="@id" 
				         placeholder="@value">
				   </div>
				}
				
				@input(formCadastroDesaparecidos("idadeAtual"), '_label -> "Idade atual") { (id, name, value, args) =>
				   <div class="form-group">
				      <input type="text" class="form-control" id="@id" 
				         placeholder="@value">
				   </div>
				}												
	                       
	            
	            </fieldset>
	            
		        <div class="actions">
		            <input type="submit" class="btn primary" value="Criar">
		        </div>	            
            }
        </div>
}
