@main("Encontre Pessoas Desaparecidas"){
    <style>
        body{
            padding-top: 50px;
        }
        .starter-template {
            padding: 40px 15px;
            text-align: center;
        }
    </style>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle"
                        data-toggle="collapse" data-target=".navbar-collapse">
                </button>
                <a class="navbar-brand" href="/">Encontre Pessoas Desaparecidas</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/sobre">Sobre o sistema</a></li>
                    <li><a href="/play">Sobre o Play Framework</a></li>
                    <li>
                        <a href="http://getbootstrap.com/" target="_blank">Sobre o Bootstrap</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="starter-template">
            <h1>Encontre Pessoas Desaparecidas</h1>
        </div>
    </div>

}